header {
  margin: 0;
  padding: 0;
}

header a {
  vertical-align: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: 120%;
  color: #444444;
}

header a:hover, a.active, a.visited .mat-icon{
  color: white !important;
  text-decoration: none !important;
}

header a.title_link .mat-icon{

}
