<div>
  <br>
  <label>Already have a player? Sign up for the website here!</label>
  <p>
    <label>
      <span class="tight-label">Username: </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="tight-label">Email: </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="reminder-text">*Don't worry about email unless you don't have Reddit.</span>
    </label>
  <p>
    <label>
      <span class="tight-label">Password: </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="tight-label">Repeat Password: </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="tight-label">Player Name:</span>
      <input class="standard-input"/>
    </label>
  <p>
    <button class="primary-button">
      Create!
    </button>
  </p>
</div>
