<div>
  <br>
  <label>Hey there!  Welcome to Baseball by the Numbers!</label>
  <p>
    <label>
      <span class="standard-label">Reddit Username: </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="reminder-text">*Reddit not required but highly recommended!</span>
    </label>
  <p>
    <label>
      <span class="standard-label">Give your player a name: </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="standard-label">What hand would you like to be dominant: </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="standard-label">What position do you want to play: </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="standard-label">What would you like your secondary position to be: </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="standard-label">What would you like your secondary position to be: </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>Alright, Let's get some stats! The total of all 4 stats must be 12, with a minimum of 1 and a maximum of 5 per stat.</label>
  <p>
    <label>
      <span class="standard-label">Movement (Pitchers) / Contact (Batters) (Affects K and 1B): </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="standard-label">Command (Pitchers) / Eye (Batters) (Affects BB and 1B):  </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="standard-label">Velocity (Pitchers) / Power (Batters) (Affects HR, PO, and FO):  </span>
      <input class="standard-input"/>
    </label>
  <p>
    <label>
      <span class="standard-label">Awareness (Pitchers) / Speed (Batters) (Affects 1B, 2B, 3B, GO, SB):  </span>
      <input class="standard-input"/>
    </label>
  <p>
    <button class="primary-button">
      Sign up!
    </button>
</div>
