<div class="calculator-hud">
  <label class="select-label">Player: </label>
  <select [(ngModel)]="selectedPlayer">
    <option *ngFor="let currentPlayer of playerMap" [ngValue]="currentPlayer">{{currentPlayer.full_player_name}}</option>
  </select>
  <label *ngIf="selectedPlayer">Contact:
    <input class="stats" [value]="selectedPlayer.contact" placeholder="0">
  </label>
  <label *ngIf="selectedPlayer">Eye:
    <input class="stats" [value]="selectedPlayer.eye">
  </label>
  <label *ngIf="selectedPlayer">Power:
    <input class="stats" [value]="selectedPlayer.power">
  </label>
  <label *ngIf="selectedPlayer">Speed:
    <input class="stats" [value]="selectedPlayer.speed">
  </label>

  <br>

  <label class="select-label">Pitcher: </label>
  <select [(ngModel)]="selectedPitcher">
    <option *ngFor="let currentPitcher of pitcherMap" [ngValue]="currentPitcher">{{currentPitcher.full_player_name}}</option>
  </select>
  <label *ngIf="selectedPitcher">Movement:
    <input class="stats" [value]="selectedPitcher.movement">
  </label>
  <label *ngIf="selectedPitcher">Command:
    <input class="stats" [value]="selectedPitcher.command">
  </label>
  <label *ngIf="selectedPitcher">Velocity:
    <input class="stats" [value]="selectedPitcher.velocity">
  </label>
  <label *ngIf="selectedPitcher">Awareness:
    <input class="stats" [value]="selectedPitcher.awareness">
  </label>

  <br>

  <br>
  <label>Swing:
    <input [(ngModel)]="swing" placeholder="Swing" style="margin-left: 3px">
  </label>

  <label>Pitch:
    <input [(ngModel)]="pitch" placeholder="Pitch" style="margin-left: 3px">
  </label>

  <label>Diff:
    <input [(ngModel)]="diff" placeholder="Diff" disabled="true" style="margin-left: 3px">
  </label>

  <label *ngIf="showNiceMessage" style="color: seagreen;" id="niceMessageId">
    Nice!
  </label>

  <label>Result:
    <input [(ngModel)]="result" placeholder="Result" style="margin-left: 3px">
  </label>
  <br>
  <button (click)="getDiff(swing, pitch)">Submit</button>
</div>
