.standard-input {
  border-radius: 15px;
  border: 2px solid deepskyblue;
  height: 31px;
  background: gray;
  white-space: nowrap;
  color:white;
  width: 150px;
}

.error-input {
  border-radius: 15px;
  border: 2px solid deepskyblue;
  height: 31px;
  background: darkred;
  color: white;
  white-space: nowrap;
  width: 150px;
}

.standard-label {
  display: inline-block;
  width: 475px;
  text-align: left;
  vertical-align: center;
}

.tight-label {
  display: inline-block;
  width: 140px;
  text-align: left;
  vertical-align: center;
}

.reminder-text {
  display: inline-block;
  color: red;
  text-align: center;
  white-space: nowrap;
}


