body {
  border: 0;
}

.base-nav-a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: deepskyblue;
  /*border-radius: 20px;*/
  color: white;
  width: 100%;
}

.base-nav-a:hover {
  background-color: cornflowerblue;
}

.new-player-nav-a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: orange;
  /*border-radius: 20px;*/
  color: white;
  width: 100%;
}

.new-player-nav-a:hover {
  background-color: darkorange;
}

div {
  overflow:hidden;
}

p {
  margin: 0;
}


h1 {
  background-color: black;
  /*color: white;*/
  height: 100%;
  width: 100%;
}

mat-sidenav-container {
  position:absolute;
  width: 100%;
  height: 100%;
}

/* Overarching div for login/signup/other user control stuff in the upper right of the site */
.auth-div {
  height: 64px;
  width: 150px;
  position: absolute;
  right: 0;
}

.login-span {
  margin: 0; /* Removing all margins allows both spans to fit within one container */
  display: inline-block; /* Forces both elements to display in one line */
}

.signup-span {
  display: inline-block;
}

.login-link {
  color: orange;
  font-size: 14px;
  text-decoration: none !important;
}

.login-link:hover {
  color: darkorange;
}

.signup-link {
  color: deepskyblue;
  font-size: 18px;
  text-decoration: none !important;
  border-radius: 4px;
  border: 2px solid deepskyblue;
}

.signup-link:hover{
  color: cornflowerblue;
  border-radius: 4px;
  border: 2px solid cornflowerblue;
}

.okButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: deepskyblue;
}

.okButton:hover {
  color: cornflowerblue;
}

.primary-button {
  height: 30px;
  width: 70px;
  background-color: deepskyblue;
  color: white;
}

.secondary-button {
  color: orange;
  font-size: 14px;
  text-decoration: none !important;
  background: none;
  border: none;
  cursor: pointer;
}
