<!--END HEADER - GET A COMPONENT FOR THIS -->
<mat-sidenav-container fxflexFill>
  <mat-sidenav mode="side" opened="true">
    <app-header></app-header>
    <nav>
      <a routerLink="/authorize">Authorize</a><br>
      <a routerLink="/stats">Stats</a><br>
      <a routerLink="/calculator">Calculator</a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="background-color: #181818; height: 64px;"></div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
