@import "~@angular/material/theming";
@include mat-core();
$mln-stats-primary: mat-palette($mat-light-blue);
$mln-stats-accent:  mat-palette($mat-green);
$mln-stats-warn:    mat-palette($mat-deep-orange);
$mln-stats-theme: mat-dark-theme($mln-stats-primary, $mln-stats-accent, $mln-stats-warn);
@include angular-material-theme($mln-stats-theme);
